* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #70747a;
}

.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0 2rem;
}

nav {
  position: relative;
}

.logo {
  width: 50px;
  margin-top: 15px;
}

.navbar-items {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar a {
  color: #eee;
  text-decoration: none;
  transition: 0.5s;
}

.navbar a:hover {
  color: #999;
}

.default-btn {
  background-color: #2cc76a;
  padding: 15px 20px;
  border-radius: 8px;
}

.navbar-items .default-btn:hover {
  background-color: #22bb5f;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
}

.main-banner {
  background-image: url("../img/mainbanner.png");
  background-position: center;
  background-size: cover;
  padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
  color: #eee;
  text-align: center;
  font-weight: bold;
  text-shadow: #020202 3px 2px 3px;
}

.main-banner h1 {
  font-size: 54px;
}

.main-banner p {
  font-size: 36px;
}

.services-container {
  padding: 5rem 0;
}

.services-container ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.services-container li {
  flex: 1 1 200px;
  list-style: none;
  text-align: center;
  padding: 20px;
}

.fas {
  font-size: 60px;
  margin-bottom: 15px;
}

.fa-shield-alt {
  color: #2cc76a;
}

.fa-rocket {
  color: #ef3f29;
}

.fa-comments {
  color: #ef8f29;
}

.fa-arrow-trend-up {
  color: #298fef;
}

.services-container .justify-space {
  height: 10px;
}

.services-container h3 {
  margin-bottom: 25px;
  font-size: 28px;
}

.services-container p {
  font-size: 16px;
  line-height: 24px;
}

.pricing-container {
  padding-bottom: 5rem;
  text-align: center;
}

.pricing-container h2 {
  font-size: 36px;
}

.pricing-container p {
  font-size: 20px;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto 0;
}

.plan {
  flex: 1;
  max-width: 275px;
  margin: 0 20px;
}

.plan ul {
  padding: 0;
}

.plan li {
  list-style: none;
  height: 50px;
  line-height: 50px;
  background-color: #e8e9ea;
  color: #313233;
}

.plan .price {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  color: #efefef;
  background-color: #2cc762;
  text-align: center;
  line-height: 120px;
  margin: 0 auto -50px;
  font-size: 18px;
  position: relative;
}
.plan .plan-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #efefef;
  background-color: #202b34;
  padding: 50px 0;
}

.plan .plan-btn {
  background-color: #2cc762;
  color: #efefef;
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  cursor: pointer;
}

.plan .justify-space {
  height: 10px;
}

.plan .recommended {
  border: 10px double #daa520;
}

.plan .recommended-bottomtag {
  margin-bottom: 25px;
  background-color: #daa520;
  padding: 20px 0;
  color: #000;
  border-radius: 0 0 50% 50%;
}

.searchdomain-container {
  background-color: #34454e;
  text-align: center;
  padding: 5rem 0;
}

.searchdomain-container h2 {
  color: #efefef;
  font-size: 42px;
  margin-bottom: 15px;
}

.searchdomain-container p {
  color: #e1e0e1;
  font-size: 24px;
  margin-bottom: 25px;
}

.searchdomain-container input {
  display: block;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
}

.searchdomain-container input[type="text"] {
  width: 60%;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 25px;
}

.searchdomain-container input[type="submit"] {
  background-color: #2cc76a;
  padding: 15px 30px;
  color: #efefef;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.6;
}

.searchdomain-container input[type="submit"]:hover {
  opacity: 1;
}

.contact-container {
  text-align: center;
  padding: 5rem 0 2 rem 0;
}

.contact-container h2 {
  font-size: 36 px;
  margin-bottom: 15px;
}

.contact-container p {
  font-size: 20px;
  margin: 20px 0 40px 0;
}
.contact-container input,
.contact-container textarea {
  width: 221px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: px;
  border: 1px solid #c2c2c2;
  margin: 0 10px 20px;
}

.contact-container textarea {
  width: 470px;
  display: block;
  margin: 0 auto 20px;
  height: 150px;
  resize: none;
}

.contact-container input[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: #2cc76a;
  color: #efefef;
  cursor: pointer;
  border-radius: 3px;
}

footer {
  background-color: #202b34;
  text-align: center;
  margin: 50px 0 0 0;
  padding: 0 0 50px 0;
}

footer p {
  color: #efefef;
}

/*Responsividade da página */

@media (max-width: 1060px) {
  .plan li {
    font-size: 14px;
  }
}

@media (max-width: 1070px) {
  .plan .plan-name {
    font-size: 18px;
  }
}

@media (max-width: 1050px) {
  .main-banner p {
    padding: 1rem;
  }

  .services-container ul {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .services-container h3 {
    font-size: 20px;
  }

  .services-container p {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .plan .plan-name {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .plan li {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .plan .plan-name {
    font-size: 14px;
  }

  .searchdomain-container h2 {
    padding: 0 1rem;
  }
}

@media (max-width: 840px) {
  .plan li {
    font-size: 10px;
  }

  .plan .plan-btn {
    font-size: 20px;
  }

  .plan .recommended-bottomtag {
    font-size: 16px;
  }
}

@media (max-width: 810px) {
  .plan .plan-name {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .services-container h3 {
    font-size: 18px;
  }

  .services-container p {
    font-size: 12px;
  }
  .plan .price {
    font-size: 14px;
    line-height: 100px;
  }

  .plan .plan-name {
    font-size: 12px;
    height: 50px;
    line-height: 50px;
  }

  .plan li {
    height: 50px;
    line-height: 20px;
    padding-top: 10px;
  }

  .plan .plan-btn {
    font-size: 16px;
    line-height: 10px;
    height: 40px;
  }

  .plan .recommended-bottomtag {
    font-size: 14px;
  }
}

@media (max-width: 690px) {
  .plans-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .plan ul {
    width: 250px;
    margin-top: 10px;
  }

  .plan .recommended {
    margin-top: 10px;
  }

  .plan .justify-space {
    height: 0;
  }

  .searchdomain-container h2 {
    font-size: 36px;
  }
}

@media (max-width: 640px) {
  .plan .price {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .navbar-items {
    justify-content: flex-end;
  }

  .navbar a {
    font-size: 12px;
  }
  .services-container ul {
    flex-direction: column;
  }

  .services-container h3 {
    font-size: 20px;
  }

  .services-container p {
    font-size: 14px;
  }
  .plan {
    margin-bottom: 50px;
  }

  .plan ul {
    width: 250px;
  }

  .plan li {
    padding-top: 0px;
  }

  .plan .plan-name {
    padding-top: 70px;
  }

  .plan .plan-btn {
    padding: 35px;
  }

  .searchdomain-container {
    padding: 5rem 2rem;
  }

  .searchdomain-container input[type="text"] {
    width: 90%;
  }

  .contact-container {
    padding: 5rem 1rem 2rem 1rem;
  }

  .contact-container input,
  .contact-container textarea {
    width: 300px;
  }

  .searchdomain-container input[type="submit"] {
    font-size: 20px;
  }
}

@media (max-width: 470px) {
  .navbar-items {
    justify-content: flex-end;
  }

  .navbar a {
    font-size: 10px;
    right: -100;
  }

  .default-btn {
    padding: 5px 10px;
  }

  .navbar-items .default-btn:hover {
    padding: 5px 10px;
  }
}

@media (max-width: 420px) {
  .logo {
    width: 30px;
    margin-top: 20px;
  }
  .navbar-items {
    justify-content: flex-end;
  }

  .navbar a {
    font-size: 10px;
    right: -100;
  }

  .default-btn {
    padding: 5px 10px;
  }

  .navbar-items .default-btn:hover {
    padding: 5px 10px;
  }
}

@media (max-width: 400px) {
  .navbar-items {
    justify-content: flex-end;
  }

  .navbar li {
    margin-left: 15px;
  }

  .navbar a {
    font-size: 10px;
    right: -100;
  }

  .default-btn {
    padding: 5px 10px;
  }

  .navbar-items .default-btn:hover {
    padding: 5px 10px;
  }
}
